@charset "utf-8";

/* ===================================================================
css information

File Name  : layout.css
Author     :
Style Info :
=================================================================== */

/****************************************************************************

店舗TOP - RWD

****************************************************************************/

.shopTop .pt_telLink_01 {
-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.15);
box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.shopTop #shopName {
-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.15);
box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

/* 最低注文金額、送料 - RWD
-------------------------------------------------------------------------- */

.shopTop #topCont02 { width:1000px; margin:0 auto; padding:15px 20px 0 20px; }
.shopTop #topCont02 > * { width:50%; float:left; text-align:center; color:#333; font-weight:bold; line-height:140%; font-size:16px; padding:11px 15px; background:#f0f0f0; outline:#ccc 1px solid; overflow:hidden; white-space:nowrap;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}

/* 最低注文金額が無い場合 */
.shopTop #topCont02.column-1 > * { width:100%; }

/* clearfix element */
.shopTop #topCont02:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html .shopTop #topCont02 { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html .shopTop #topCont02 { zoom:1; }

@media screen and (max-width:800px){
.shopTop #topCont02 { width:100%; padding:0; }
.shopTop #topCont02 > * { line-height:130%; font-size:11px; padding:9px 8px; }
}

/* 待ち時間、カード決済等 - RWD
-------------------------------------------------------------------------- */

.shopTop #topCont03 { width:100%; padding:10px 0 15px 0; background:#fff; border-bottom:#ccc 1px solid; }
.shopTop #topCont03 article { display:table; width:1000px; table-layout:fixed; margin:0 auto; padding:0 20px; }
.shopTop #topCont03 article > * { display:table-cell; vertical-align:middle; }
.shopTop #topCont03 h4 { width:74px; }
.shopTop #topCont03 h4 span { display:block; width:74px; height:74px; overflow:hidden; background:#ff9d11 URL(../../../img/basic_icon_02.png) no-repeat center 11px; background-size:24px 24px; color:#fff; font-weight:bold; text-align:center; font-size:17px; padding:40px 0 0 0; line-height:120%; letter-spacing:-0.03em;
-webkit-border-radius: 37px;
-moz-border-radius: 37px;
border-radius: 37px;
}
.shopTop #topCont03 .pt_rating_01 { width:auto; display:inline-block; *display:inline; *zoom:1; vertical-align:top; }
.shopTop #topCont03 .pt_rating_01 .col02 { font-weight:bold; }

.shopTop #topCont03 .inner { padding:0 0 0 20px; letter-spacing:-.40em; }
.shopTop #topCont03 .inner > div { display:inline-block; *display:inline; *zoom:1; vertical-align:top; letter-spacing:normal; }

.shopTop #topCont03 .inner .line01 { width:100%; }
.shopTop #topCont03 .inner .line01 > p { font-size:16px; line-height:18px; display:inline-block; *display:inline; *zoom:1; vertical-align:top; padding:0 0 0 25px; }
.shopTop #topCont03 .inner .line01 > p a { display:block; position:relative; padding:0 0 0 28px; }
.shopTop #topCont03 .inner .line01 > p a:before { content:''; width:18px; height:18px; position:absolute; left:0; top:50%; margin:-9px 0 0 0; background:URL(../../../img/basic_icon_03.png) no-repeat center center; background-size:100% 100%; }
.shopTop #topCont03 .inner .line02 { margin:10px 25px 0 0; }
.shopTop #topCont03 .inner .line02 p { height:22px; padding:0 0 0 25px; position:relative; font-size:14px; line-height:22px; color:#333; }
.shopTop #topCont03 .inner .line02 p:before { content:''; width:15px; height:19px; position:absolute; left:0; top:50%; margin:-9px 0 0 0; background:URL(../../../img/tPoint_icon_01.png) no-repeat center center; background-size:100% 100%; }
.shopTop #topCont03 .inner .line02 p i img { height:19px; width:auto; vertical-align:middle; position:relative; top:-1px; }
.shopTop #topCont03 .inner .line02 p i { padding:0 0 0 5px; }
.shopTop #topCont03 .inner .line03 { margin:10px 0 0 0; }
.shopTop #topCont03 .inner .line03 i { float:left; padding:0 7px 0 0; }
.shopTop #topCont03 .inner .line03 i img { width:auto; height:22px; }

/* set_shopClosed */
.set_shopClosed .shopTop #topCont03 h4 { width:120px; }
.set_shopClosed .shopTop #topCont03 h4 span { background:#aaa; width:100%; height:auto; padding:10px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

/* clearfix element */
.shopTop #topCont03 .inner > div:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html .shopTop #topCont03 .inner > div { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html .shopTop #topCont03 .inner > div { zoom:1; }

@media screen and (max-width:800px){
.shopTop #topCont03 { padding:10px 0; }
.shopTop #topCont03 article { width:100%; padding:0 10px; }
.shopTop #topCont03 h4 { width:54px; }
.shopTop #topCont03 h4 span { width:54px; height:54px; background-position:center 6px; background-size:20px 20px; font-size:13px; padding:30px 0 0 0; letter-spacing:-0.05em;
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
border-radius: 27px;
}
.shopTop #topCont03 .pt_rating_01 .col02 { font-size:14px; }

.shopTop #topCont03 .inner { padding:0 0 0 10px; letter-spacing:normal; }
.shopTop #topCont03 .inner > div { display:block; /*margin:6px 0 0 0;*/ }

.shopTop #topCont03 .inner .line01 > p { font-size:12px; line-height:14px; padding:0 0 0 10px; }
.shopTop #topCont03 .inner .line01 > p a { padding:0 0 0 18px; }
.shopTop #topCont03 .inner .line01 > p a:before { width:14px; height:14px; margin:-7px 0 0 0; }
.shopTop #topCont03 .inner .line02 { margin:6px 0 0 0; }
.shopTop #topCont03 .inner .line02 p { height:16px; padding:0 0 0 15px; font-size:11px; line-height:16px; }
.shopTop #topCont03 .inner .line02 p:before { width:12px; height:15px; margin:-8px 0 0 0; }
.shopTop #topCont03 .inner .line02 p i img { height:14px; top:0; }
.shopTop #topCont03 .inner .line02 p i { padding:0 0 0 3px; }
.shopTop #topCont03 .inner .line03 { margin:6px 0 0 0; }
.shopTop #topCont03 .inner .line03 i { padding:0 6px 0 0; }
.shopTop #topCont03 .inner .line03 i img { height:18px; }

/* set_shopClosed */
.set_shopClosed .shopTop #topCont03 h4 { width:84px; }
.set_shopClosed .shopTop #topCont03 h4 span { padding:6px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
}

/* 店舗情報
---------------------------------- */

.shopDetail #shopInfo > * {position:relative;}
.shopTop #shopInfo > * {position:relative;}

/* リンクボタン - RWD
-------------------------------------------------------------------------- */

.shopTop #topCont04 { background:#fff; border-bottom:#ccc 1px solid; padding:0 0;
-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.15);
box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.shopTop #topCont04 > div { width:1000px; margin:0 auto; text-align:center; letter-spacing:-.40em; }
.shopTop #topCont04 p { width:320px; display:inline-block; *display:inline; *zoom:1; vertical-align:top; letter-spacing:normal; }
.shopTop #topCont04 p a { display:block; height:56px; line-height:56px; text-align:center; color:#ec5548; font-size:18px; }
.shopTop #topCont04 p a span { position:relative; display:inline-block; *display:inline; *zoom:1; vertical-align:top; background-repeat:no-repeat; background-position:left center; background-size:30px 30px; padding:0 24px 0 40px; }
.shopTop #topCont04 p a span:after { content:''; width:9px; height:16px; position:absolute; top:50%; right:0; background:URL(../../../img/arrow_s_01.png) no-repeat center center; background-size:100% 100%; margin:-8px 0 0 0; }

.shopTop #topCont04 p.col01 a span { background-image:URL(../../../img/nav_icon_05.png); }
.shopTop #topCont04 p.col02 a span { background-image:URL(../../../img/nav_icon_06.png); }

/* 出前館クーポン無い場合 */
.shopTop #topCont04 p.col01 a.offElm { color:#aaa; cursor:default; }
.shopTop #topCont04 p.col01 a.offElm span { background-image:URL(../../../img/nav_icon_05_off.png) !important; }
.shopTop #topCont04 p.col01 a.offElm span:after { background-image:URL(../../../img/arrow_s_02.png) !important; }

@media screen and (max-width:800px){
.shopTop #topCont04 > div { width:100%; }
.shopTop #topCont04 p { width:50%; }
.shopTop #topCont04 p a { height:44px; line-height:44px; font-size:14px; }
.shopTop #topCont04 p a span { background-size:22px 22px; padding:0 13px 0 26px; }
.shopTop #topCont04 p a span:after { width:7px; height:12px; margin:-5px 0 0 0; }
}

/* クローズド表示 - RWD
-------------------------------------------------------------------------- */

.shopTop #topCont05 { width:100%; display:none; background:#aaa;
-webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.15);
box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.shopTop #topCont05 > div { width:1000px; display:table; table-layout:fixed; margin:0 auto; padding:0 20px; background:#aaa; }
.shopTop #topCont05 p { display:table-cell; vertical-align:middle; font-size:128.6%; font-weight:bold; color:#fff; height:60px; text-align:center; position:relative; line-height:140%; }
.shopTop #topCont05 p span { position:relative; display:inline-block; *display:inline; *zoom:1; vertical-align:top; padding:0 0 0 42px; }
.shopTop #topCont05 p span:before { content:''; width:30px; height:30px; position:absolute; left:0; top:50%; margin:-15px 0 0 0; background:URL(../../../img/closed_icon_01.png) no-repeat center center; background-size:100% 100%; }

/* set_shopClosed */
.set_shopClosed .shopTop #topCont05 { display:block; }

@media screen and (max-width:800px){
.shopTop #topCont05 > div { width:100%; padding:0 10px; }
.shopTop #topCont05 p { font-size:115.4%; height:50px; line-height:130%; }
.shopTop #topCont05 p span { padding:0 0 0 38px; }
.shopTop #topCont05 p span:before { width:28px; height:28px; margin:-14px 0 0 0; }
}

/* 絞り込み - RWD
-------------------------------------------------------------------------- */

#refineNavWrap-wrap { width:1000px; margin:0 auto; padding:15px 20px 0 20px; background:#eee; }
#refineNavWrap { width:100%; position:relative; }
#refineNavWrap .dpMenu { float:left; width:50%; }
#refineNavWrap.column-1 .dpMenu { width:100% !important; }
#refineNavWrap .dpMenu > a { height:60px; width:100%; display:block; background:#c5c5c5; border:transparent 1px solid; text-align:center; padding:9px 56px 0 20px; position:relative; z-index:2;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#refineNavWrap .dpMenu > a:after { content:''; width:21px; height:21px; position:absolute; top:50%; right:20px; margin:-10px 0 0 0; background:URL(../../../img/arrow_btm_02.png) no-repeat center center; background-size:100% 100%; }
#refineNavWrap .dpMenu > a h4 { color:#fff; font-size:16px; font-weight:bold; line-height:120%; }
	#refineNavWrap .dpMenu > a span { font-size:12px; }
#refineNavWrap .dpMenu > a p { color:#fff; font-size:14px; line-height:120%; padding:2px 0 0 0; }
#refineNavWrap .dpMenu > a h4,
#refineNavWrap .dpMenu > a p { overflow:hidden; white-space:nowrap;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#refineNavWrap .dpMenu.current > a { background:#ec5548; }
#refineNavWrap .dpMenu.active > a { background:#fff !important; border:#ccc 1px solid; border-bottom:0;  }
#refineNavWrap .dpMenu.active > a h4,
#refineNavWrap .dpMenu.active > a p { color:#ec5548 !important; }
#refineNavWrap .dpMenu.active > a:after { background-image:URL(../../../img/arrow_btm_02_active.png); }

#refineNavWrap .dpMenu .dpMenuInner { width:100%; background:#fff; position:absolute; top:40px; left:0; border:#ccc 1px solid; visibility:hidden; opacity:0;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.15);
box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.15);
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#refineNavWrap .dpMenu.active .dpMenuInner { top:59px; opacity:1; visibility:visible; padding:20px 0 0 0; }
#refineNavWrap .dpMenu .dpMenuInner nav { padding:0 20px; }
#refineNavWrap .dpMenu .dpMenuInner ul { overflow:auto; max-height:268px; }
#refineNavWrap .dpMenu .dpMenuInner ul li { border-top:#ccc 1px solid; padding:10px 15px; }
#refineNavWrap .dpMenu .dpMenuInner ul li:last-child { border-bottom:#ccc 1px solid; }
#refineNavWrap .dpMenu .dpMenuInner ul li em { color:#ec5548; }
#refineNavWrap .dpMenu .dpMenuInner .closeBtn { height:52px; line-height:52px; margin:20px 0 0 0; font-size:14px; background:#eee URL(../../../img/close_02.png) no-repeat 20px center; background-size:20px 20px; padding:0 20px 0 55px; color:#555; cursor:pointer; }
#refineNavWrap .dpMenu .dpMenuInner .closeBtn:before { content:'キャンセル'; }

/* clearfix element */
#refineNavWrap:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #refineNavWrap { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #refineNavWrap { zoom:1; }

@media screen and (max-width:800px){
#refineNavWrap-wrap { width:100%; padding:0; }
#refineNavWrap .dpMenu > a { height:50px; border:0; padding:9px 34px 0 10px; }
#refineNavWrap .dpMenu > a:after { width:18px; height:18px; right:10px; margin:-9px 0 0 0; }
#refineNavWrap .dpMenu > a h4 { font-size:13px; }
#refineNavWrap .dpMenu > a span { font-size:7px; }
#refineNavWrap .dpMenu > a p { font-size:11px; padding:3px 0 0 0; }

#refineNavWrap .dpMenu.active > a { border:0 !important; }

#refineNavWrap .dpMenu .dpMenuInner { top:0; border:0; border-bottom:#ccc 1px solid; }
#refineNavWrap .dpMenu.active .dpMenuInner { top:50px; padding:10px 0 0 0; }
#refineNavWrap .dpMenu .dpMenuInner nav { padding:0 10px; }
#refineNavWrap .dpMenu .dpMenuInner ul { max-height:156px; }
#refineNavWrap .dpMenu .dpMenuInner ul li { padding:6px; }
#refineNavWrap .dpMenu .dpMenuInner .closeBtn { height:44px; line-height:44px; margin:10px 0 0 0; font-size:13px; background-position:10px center; background-size:16px 16px; padding:0 10px 0 35px; }
}

/* メニュー一覧部分 - RWD
-------------------------------------------------------------------------- */

#menuLIstWrap { padding:0 1px; }
#menuLIstWrap .list { width:50%; float:left; border:0; border-bottom:#ccc 1px solid; margin:0; outline:#ccc 1px solid; }
#menuLIstWrap .list h3,
#menuLIstWrap .list p {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#menuLIstWrap .list h3 { color:#333; font-size:128.6%; line-height:140%; font-weight:bold; margin:0 0 7px 0; min-height:50px; }
#menuLIstWrap .list a h3 { color:#333; }
#menuLIstWrap .list a:hover h3 { text-decoration:none; }
#menuLIstWrap .list p { font-size:100%; line-height:140%; margin:2px 0 0 0; }
#menuLIstWrap .list figure { width:124px; overflow:hidden; float:left;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
#menuLIstWrap .list section { width:100%; float:right; margin:0 0 0 -124px; padding:0 0 0 144px; }
#menuLIstWrap .list section .iconWrap { margin:0 0 6px 0; }
#menuLIstWrap .list section .iconWrap i { display:block; float:left; padding:0 4px 4px 0; }
#menuLIstWrap .list section .iconWrap i img { width:67px; height:16px; }

#menuLIstWrap.combo .list label { display:block; cursor:pointer; }
#menuLIstWrap.combo .list input[type="checkbox"] { position:absolute; width:0; height:0; left:-9999px; opacity:0; filter:alpha(opacity=0); -ms-filter:'alpha(opacity=0)'; display:none; }
#menuLIstWrap.combo .list label > div { padding:13px 15px 13px 57px; position:relative;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#menuLIstWrap.combo .list label > div:before { content:''; width:32px; height:32px; position:absolute; left:15px; top:59px; background:URL(../../../img/checkbox_01_off.png) no-repeat center center; background-size:100% 100%; }

#menuLIstWrap.combo .list input[type="checkbox"]:checked + div { background:#ff6c60; }
#menuLIstWrap.combo .list input[type="checkbox"]:checked + div h3,
#menuLIstWrap.combo .list input[type="checkbox"]:checked + div p { color:#fff !important; }
#menuLIstWrap.combo .list input[type="checkbox"]:checked + div:before { background-image:URL(../../../img/checkbox_02_on.png) !important; }
#menuLIstWrap.combo .list .btn01 {width:110px; height:auto; padding:0; position:absolute; bottom:13px; right:16px; }
#menuLIstWrap.combo .list .btn01 a { display:block; height:40px; padding:0 15px; position:relative; font-size:114.3%; font-weight:bold; text-align:center; background:#fff; border:#ed5548 3px solid; color:#ed5548; line-height:34px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
#menuLIstWrap.combo .list section { padding-bottom:60px; }
/*#menuLIstWrap.combo .list .btn01 a:after { content:''; width:9px; height:16px; position:absolute; top:50%; right:20px; background:URL(../../../img/arrow_s_01.png) no-repeat center center; background-size:100% 100%; margin:-8px 0 0 0; }*/
#menuLIstWrap.combo .list .popup { display:none; }

/* サイズの品切れ表示 */
#menuLIstWrap .list .noStock { color:#999; }
#menuLIstWrap .list .noStock > i { display:inline-block; *display:inline; *zoom:1; vertical-align:baseline; font-size:12px; height:20px; line-height:20px; background:#bbb; color:#fff !important; font-weight:bold; padding:0 8px; margin:0 0 0 4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
text-shadow: none !important;
}

/* clearfix element */
#menuLIstWrap:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #menuLIstWrap { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html { zoom:1; }

#menuLIstWrap > li:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #menuLIstWrap > li { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #menuLIstWrap > li { zoom:1; }

#menuLIstWrap .list section .iconWrap:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #menuLIstWrap .list section .iconWrap { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #menuLIstWrap .list section .iconWrap { zoom:1; }

#menuLIstWrap.combo .list label > div:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #menuLIstWrap.combo .list label > div { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #menuLIstWrap.combo .list label > div { zoom:1; }

@media screen and (max-width:800px){
#menuLIstWrap { padding:0; }
#menuLIstWrap .list { width:100%; float:none; border:#ccc 1px solid; border-bottom:#ccc 2px solid; margin:0 0 6px 0; outline:none; }
#menuLIstWrap .list:last-child { margin-bottom:0; }
#menuLIstWrap .list h3 { font-size:107.7%; line-height:130%; margin:0 0 5px 0; }
#menuLIstWrap .list a h3 { color:#333; text-decoration:none; }
#menuLIstWrap .list p { font-size:87.6%; line-height:130%; margin:1px 0 0 0; }
#menuLIstWrap .list figure { width:80px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#menuLIstWrap .list section { margin:0 0 0 -80px; padding:0 0 0 90px; }
#menuLIstWrap .list section .iconWrap { margin:0 0 3px 0; }
#menuLIstWrap .list section .iconWrap i img { width:67px; height:16px; }

#menuLIstWrap.combo .list label > div { padding:6px 6px 6px 42px; }
#menuLIstWrap.combo .list label > div:before { width:26px; height:26px; left:6px; top:33px; }

#menuLIstWrap.combo .list section { padding-bottom:0; }

/* ボタン */
#menuLIstWrap.combo .list .btn01 { width:100%; position:relative; bottom:0; right:0; }
#menuLIstWrap.combo .list .btn01 a { display:block; height:44px; border:0; border-top:#ccc 1px solid; padding:0 10px; position:relative; color:#ec5548; font-size:115.4%; font-weight:bold; line-height:43px; text-align:left;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow:    none;
box-shadow:         none;
}
#menuLIstWrap.combo .list .btn01 a:after { content:''; width:7px; height:12px; position:absolute; top:50%; right:14px; margin:-6px 0 0 0; background:URL(../../../img/arrow_s_01.png) no-repeat center center; background-size:100% 100%; }
#menuLIstWrap.type_01 .list section { padding-bottom:0; }
#menuLIstWrap.type_01 .list .btn01 a { height:44px; line-height:43px; }

/* サイズの品切れ表示 */
#menuLIstWrap .list .noStock > i { font-size:10px; height:16px; line-height:16px; padding:0 4px; margin:0 0 0 2px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}
}

/* カート小窓
-------------------------------------------------------------------------- */
@media print,screen and (min-width:801px){
.shopTop .bgSP {display:none; }
}

@media screen and (max-width:800px){
.shopTop .bgSP {
background: #eee;
padding: 6px;
}

.shopTop .bgSPPD {
padding: 6px 6px 0px 6px  !important;
}

.shopTop .smallCartSP {
background: #fff;
padding: 10px;
float: none;
border: #ccc 1px solid;
padding: 6px;
}
.shopTop .smallCartSP .sc01_SP {
 font-weight: bold;
 padding: 5px 0px 0px 0px;
 font-size: 105%;
 }
.shopTop .smallCartSP .sc02_SP {
 display: inline-block;
 width: 115px;
}
.shopTop .smallCartSP .tpointImg {
width:14px;
height: 14px;
margin-left: 3px;
}
}

/* 出前館クーポン - RWD
-------------------------------------------------------------------------- */

#couponDetail .pt_modal_01-inner figure { max-width:440px; margin:0 auto; }
#couponDetail .pt_modal_01-inner p { padding:15px 0 0 0; }

@media screen and (max-width:800px){
#couponDetail .pt_modal_01-inner figure { max-width:480px; }
#couponDetail .pt_modal_01-inner p { padding:10px 0 0 0; }
}

/* 商品詳細モーダル - RWD
-------------------------------------------------------------------------- */

#itemDetail .popup {  }
#itemDetail .popup h3 { color:#333; font-size:128.6%; line-height:140%; font-weight:bold; margin:0 0 7px 0; }
#itemDetail .popup p { font-size:100%; line-height:140%; margin:2px 0 0 0; }
#itemDetail .popup figure { width:124px; overflow:hidden; float:left;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
#itemDetail .popup section { width:100%; float:right; margin:0 0 0 -124px; padding:0 0 0 144px; }
#itemDetail .popup .copy { clear:both; font-size:100%; line-height:160%; padding:15px 0 0 0; }

/* サイズの品切れ表示 */
#itemDetail .popup .noStock { color:#999; }
#itemDetail .popup .noStock > i { display:inline-block; *display:inline; *zoom:1; vertical-align:baseline; font-size:12px; height:20px; line-height:20px; background:#bbb; color:#fff !important; font-weight:bold; padding:0 8px; margin:0 0 0 4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
text-shadow: none !important;
}

/* clearfix element */
#itemDetail .popup:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #itemDetail .popup { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #itemDetail .popup { zoom:1; }

@media screen and (max-width:800px){
#itemDetail .popup h3 { font-size:107.7%; line-height:130%; margin:0 0 5px 0; }
#itemDetail .popup p { font-size:87.6%; line-height:130%; margin:1px 0 0 0; }
#itemDetail .popup figure { width:80px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#itemDetail .popup section { margin:0 0 0 -80px; padding:0 0 0 90px; }
#itemDetail .popup .copy { line-height:150%; padding:10px 0 0 0; }

/* サイズの品切れ表示 */
#itemDetail .popup .noStock > i { font-size:10px; height:16px; line-height:16px; padding:0 4px; margin:0 0 0 2px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
}
}

/* 選択数表示部分 - RWD
-------------------------------------------------------------------------- */

#dispSelected { width:100% !important; min-width:1000px; height:70px; position:fixed; bottom:-70px; left:0; background:URL(../../../img/alphaBg_04.png) repeat; z-index:100; visibility:hidden; opacity:0; padding:0;
-webkit-transition: bottom 0.3s ease;
-moz-transition: bottom 0.3s ease;
-ms-transition: bottom 0.3s ease;
-o-transition: bottom 0.3s ease;
transition: bottom 0.3s ease;
}
#dispSelected section { width:1000px; padding:0 20px; margin:0 auto; }
#dispSelected section > p { width:100%; float:left; margin:0 -110px 0 0; padding:0 130px 0 0; color:#fff; font-size:128.6%; line-height:70px; font-weight:bold; overflow:hidden; white-space:nowrap;
text-overflow: ellipsis;
-webkit-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}
#dispSelected section > p span { padding:0 15px 0 0; }
#dispSelected section > div { float:right; width:110px; padding:10px 0 0 0; }
#dispSelected .btn_01 { display:block; height:50px; line-height:50px; color:#ed5548; text-align:center; font-size:114.3%; font-weight:bold; background:#fff; border:none; padding:0 15px; margin:0 auto; cursor:pointer;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
#dispSelected.active { bottom:0; visibility:visible; opacity:1; }
.set_delivery #dispSelected.active { bottom:70px !important; }

/* clearfix element */
#dispSelected section:after { visibility:hidden; display:block; font-size:0; content:"." ; clear:both; height:0; }
* html #dispSelected section { zoom:1; /*\*//*/ height:auto; overflow:hidden; /**/ }
*:first-child+html #dispSelected section { zoom:1; }

@media screen and (max-width:800px){
#dispSelected { min-width:0; height:52px; bottom:-52px; }
#dispSelected section { width:100%; padding:0 10px; }
#dispSelected section > p { margin:0 -60px 0 0; padding:0 70px 0 0; font-size:115.4%; line-height:52px; }
#dispSelected section > p span { padding:0 8px 0 0; }
#dispSelected section > div { width:60px; padding:6px 0 0 0; }
#dispSelected .btn_01 { height:40px; line-height:40px; font-size:115.4%; padding:0 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#dispSelected.active { bottom:55px; }
.set_delivery #dispSelected.active { bottom:99px !important; }
}

/* お届け先を指定するのボタン - ※未使用
-------------------------------------------------------------------------- */
/*
.shopTop #topCont06  { width:auto; display:inline-block; *display:inline; *zoom:1; vertical-align:top; }
.shopTop #topCont06  .selectBtn { margin:5px 0 5px 0; }
.shopTop #topCont06  .selectBtn a { display:block; width:100%; height:52px; line-height:52px; text-align:center; background:#ff637e; color:#fff; font-size:123.1%; font-weight:bold; margin:0 auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
*/